<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" href="{% static 'css/reg.css' %}">
    <link rel="icon" href="{% static 'logo.jpg' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
</head>

{% block content %}

<body>
<div class="container">
    <h1 class="texth1">Авторизация</h1>
    <form method="post">
        <div>
            {% csrf_token %}
            <label for="{{ form.username.id_for_label }}" class='name'>Логин:</label>
            {{ form.username }}
            <label for="{{ form.password.id_for_label }}" class="password ">Пароль:</label>
            {{ form.password }}
        </div>
        <button class="button1" type="submit" style='margin-top: 25px'>Войти</button>
    </form>
    <div class="btn">
        <a id="login-button" class="button2" href="{% url 'shop:index' %}" type="submit">Вернуться назад</a>
    </div>
</div>
</body>
{% endblock %}
</html>