{% extends 'base.html' %}

{% load static %}
{% block content %}
<section class="bg-success py-5">
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col-md-8 text-white">
                <h1>О нас</h1>
                <p>
                    Добро пожаловать в NeBuket — ваш онлайн магазин цветов, где каждый букет создан с любовью и заботой.
                    Мы стремимся подарить нашим клиентам не только прекрасные цветы, но и незабываемые моменты радости.
                    В нашем ассортименте вы найдете букеты на любой случай: от романтических до торжественных, от
                    простых композиций до эксклюзивных флористических шедевров. <br><br>

                    Каждый цветок в NeBuket — это символ красоты, заботы и внимания. Мы тщательно отбираем растения,
                    чтобы каждая композиция была не только красивой, но и долговечной. Мы понимаем, как важно выбрать
                    идеальный букет для особого человека, и поэтому наша команда флористов всегда готова помочь вам
                    сделать правильный выбор. <br><br>

                    Мы гордимся тем, что предоставляем доставку по городу в течение нескольких часов, чтобы ваши
                    поздравления всегда успели вовремя. Независимо от того, празднуете ли вы день рождения, свадьбу, или
                    хотите просто поздравить любимого человека, NeBuket поможет вам сделать этот день
                    незабываемым.<br><br>

                    NeBuket — цветы, которые говорят за вас.
            </div>
            <div class="col-md-4">
                <img src="{% static 'img/about-hero.svg' %}" alt="About Hero">
            </div>
        </div>
    </div>
</section>
<!-- Close Banner -->
<!-- Start Section -->
<div class="row text-center pt-5 pb-3">
    <div class="col-lg-6 m-auto">
        <h1 class="h1">Наши услуги</h1>
        <p>
            В интернет-магазине "NeBuket" мы гарантируем быструю доставку цветов в течение нескольких часов, даже в
            выходные и праздники. Если вы не удовлетворены покупкой, мы предлагаем удобные условия возврата и обмена в
            течение 14 дней. Также следите за нашими акциями и скидками на популярные букеты, чтобы делать покупки с
            выгодой. Наши консультанты работают круглосуточно, чтобы вы могли заказать цветы в любое время и получить
            помощь по выбору.
        </p>
    </div>
</div>
<div class="row">

    <div class="col-md-6 col-lg-3 pb-5">
        <div class="h-100 py-5 services-icon-wap shadow">
            <div class="h1 text-success text-center"><i class="fa fa-truck fa-lg"></i></div>
            <h2 class="h5 mt-4 text-center">Доставка</h2>
        </div>
    </div>

    <div class="col-md-6 col-lg-3 pb-5">
        <div class="h-100 py-5 services-icon-wap shadow">
            <div class="h1 text-success text-center"><i class="fas fa-exchange-alt"></i></div>
            <h2 class="h5 mt-4 text-center">Замена букета</h2>
        </div>
    </div>

    <div class="col-md-6 col-lg-3 pb-5">
        <div class="h-100 py-5 services-icon-wap shadow">
            <div class="h1 text-success text-center"><i class="fa fa-percent"></i></div>
            <h2 class="h5 mt-4 text-center">Акции</h2>
        </div>
    </div>

    <div class="col-md-6 col-lg-3 pb-5">
        <div class="h-100 py-5 services-icon-wap shadow">
            <div class="h1 text-success text-center"><i class="fa fa-user"></i></div>
            <h2 class="h5 mt-4 text-center">24-часовое обслуживание</h2>
        </div>
    </div>
</div>
<!-- End Section -->
{% endblock %}