{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="{% static 'img/banner_img_01.jpg' %}" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><b>NeBuket</b> Магазин цветов</h1>
                            <h3 class="h2">Добро пожаловать в наш цветочный магазин!</h3>
                            <p>
                                Погрузитесь в мир красоты и ароматов! Мы предлагаем широкий ассортимент свежих цветов
                                для любого случая: от нежных букетов до оригинальных композиций. У нас вы найдете
                                идеальный подарок для своих близких или украшение для дома. Наши цветы — это всегда
                                качество и свежесть!</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="{% static 'img/banner_img_02.jpg' %}" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Идеальные букеты на любой случай</h1>
                            <p>
                                <br>
                                Будь то свадьба, юбилей или просто желание порадовать близкого человека — наш магазин
                                предложит вам уникальные и стильные букеты, которые станут настоящим украшением. Мы
                                тщательно подбираем каждый цветок, чтобы ваши моменты стали ещё более яркими и
                                запоминающимися!
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="{% static 'img/banner_img_03.jpg' %}" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Доставка цветов на дом</h1>
                            <p><br>
                                Забудьте о поисках цветочного магазина — мы доставим свежие цветы прямо к вашей двери.
                                Удобно, быстро и всегда с любовью. Подарите радость своим близким, не выходя из дома!
                                Наши букеты — это не только эстетика, но и позитивные эмоции, которые они принесут.
                                <br><br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel"
       role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel"
       role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>

</div>
<a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel"
   role="button" data-bs-slide="prev">
    <i class="fas fa-chevron-left"></i>
</a>
<a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel"
   role="button" data-bs-slide="next">
    <i class="fas fa-chevron-right"></i>
</a>
</div>
<!-- End Banner Hero -->


<!-- Start Categories of The Month -->
<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Категории месяца</h1>
            <p>
                Откройте для себя лучшие предложения месяца! Уникальные товары и скидки только для вас.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="{% static 'img/category_img_01.jpg' %}" class="rounded-circle img-fluid border"></a>
            <h5 class="text-center mt-3 mb-3">Watches</h5>
            <p class="text-center"><a class="btn btn-success">Go Shop</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="{% static 'img/category_img_02.jpg' %}" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Shoes</h2>
            <p class="text-center"><a class="btn btn-success">Go Shop</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="{% static 'img/category_img_03.jpg' %}" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Accessories</h2>
            <p class="text-center"><a class="btn btn-success">Go Shop</a></p>
        </div>
    </div>
</section>
<!-- End Categories of The Month -->


<!-- Start Featured Product -->
<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Товар месяца!</h1>
                <p>

                    Рекомендуемый товар месяца! Не упустите шанс приобрести лучший товар по выгодной цене.
                </p>
            </div>
        </div>
        <div class="row">
            {% for product in products %}
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}"
                             class="card-img-top" alt="{{ product.name }}">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li class="text-muted text-right">{{ product.price }} ₽</li>
                        </ul>
                        <a href="{{ product.get_absolute_url }}" class="h2 text-decoration-none text-dark">{{ product.name }}</a>
                        <p class="card-text">
                            {{ product.description|truncatewords:20 }}
                        </p>
                        <p class="text-muted">Отзывы ({{ product.reviews.count }})</p>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>Нет популярных товаров.</p>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}